.portabel-div-icons {
  font-size: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 50%;
}
.span-portables {
  margin-top: 20px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.text-muted {
  color: #6c757d !important;
}
